Задание 4

In [24]:
authors_stat = authors_price.groupby('author_name',)['price'].min()
authors_stat

author_name
Островский    290
Тургенев      300
Чехов         450
Name: price, dtype: int64

In [38]:
df_min = authors_price.groupby('author_name').agg({'price':'min'})
df_min = df_min.rename(columns = {'price': 'min_price'})
df_max = authors_price.groupby('author_name').agg({'price':'max'})
df_max = df_max.rename(columns = {'price': 'max_price'})
df_mean = authors_price.groupby('author_name').agg({'price':'mean'})
df_mean = df_mean.rename(columns = {'price': 'mean_price'})
df_min_max = pd.merge(df_min, df_max, on = 'author_name', how = 'inner')
authors_stat = pd.merge(df_min_max, df_mean, on = 'author_name', how = 'inner')
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000