Задание 5

In [52]:
import numpy as np

authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [53]:
book_info = pd.pivot_table(authors_price, values = 'price', index = 'author_name', columns = 'cover', aggfunc = np.sum, fill_value = 0)
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [60]:
book_info_save = pd.to_pickle(book_info, 'C:/Users/User/GeekBrains/I_четверть/Python_Data_Scientist/hw_2/numpy/book_info.pkl')

In [62]:
book_info_2 = pd.read_pickle('C:/Users/User/GeekBrains/I_четверть/Python_Data_Scientist/hw_2/numpy/book_info.pkl')
book_info_2

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950